$angularization-background-color: #121fa1;
$angularization-background-color-dark: #091080;
$angularization-triangle-color: #204dfe;
$angularization-triangle-color-dark: #122aae;
$angularization-text-color: #feb;
$yellow-background-color: #db2;
$yellow-background-color-dark: #a83;
$square-color: #ec4;
$square-color-dark: #ba4;
$magenta-background-color: #d2b;
$magenta-background-color-dark: #a38;
$circle-color: #e4c;
$circle-color-dark: #b4a;
