.solid {
  position: absolute;
  z-index: 2;
  font-size: 7.5rem;
  font-weight: 700;
  right: 5rem;
  color: #edd;
  text-shadow: 0.333rem 0.333rem 0 $magenta-background-color-dark;
  text-decoration: underline;
}
