.triangle {
  position: absolute;
  left: 3rem;
  z-index: 1;
  background: #000;
  background-image: linear-gradient(to left bottom, $angularization-triangle-color, $angularization-triangle-color-dark);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  width: 33.3vmin;
  height: 33.3vmin;
  transform: rotate(90deg);
  margin: 1rem;
}
